.container {
  position: relative;
  width: 100%;
  border-bottom: 2px dashed #555;
  margin: 4rem auto 1rem;
}

/* Border animation */

.container::after {
  position: relative;
  top: 2px;
  display: block;
  width: 100%;
  height: 4px;
  background: #d16dff;
  content: '';
  opacity: 0;
  transform: scaleX(0);
  transform-origin: 0%;
  transition: all 500ms ease;
}

.container:focus-within {
  border-color: transparent;
}

.container:focus-within .label {
  transform: scale(0.8) translateY(-30px);
}

.container:focus-within::after {
  opacity: 1;
  transform: scaleX(1);
}

/* Label animation */

.label {
  position: absolute;
  z-index: -1;
  top: 4px;
  left: 0;
  color: #555;
  font-size: 1.2rem;
  transform-origin: 0%;
  transition: transform 400ms;
}

.input {
  overflow: hidden;
  width: 100%;
  padding: 0.25rem 0;
  border: none;
  margin: 0;
  background: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  transition: border 500ms;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  caret-color: black;
  -webkit-text-fill-color: black !important;
  transition: background-color 5000s ease-in-out 0s;
}

.input::-webkit-input-placeholder {
  /* Edge */
  color: transparent;
}

.input::placeholder {
  color: transparent;
}

/* Chrome, Safari, Edge, Opera */

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* Firefox */

.input[type='number'] {
  -moz-appearance: textfield;
}

.input:valid {
  color: black;
}

.input:invalid {
  color: orangered;
}

.input:not(:placeholder-shown) + .label {
  transform: scale(0.8) translateY(-30px);
}

.input:-webkit-autofill + .label {
  transform: scale(0.8) translateY(-30px);
}
